/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.top-nav-bar {
  height: 30px;
  background: #2B2B2B;
  border-bottom: 2px solid #53514c;
}

.top-nav-links {
  float: left;
  margin: 5px 0 0 15px;
}

.top-nav-links a {
  font-size: 11px;
  font-weight: bold;
  color: #eeeeee;
}

.top-nav-links span {
  margin: 0 10px;
  font-size: 13px;
  color: #eeeeee;
}

.top-nav-links a:nth-of-type(1n+4), .top-nav-links span:nth-of-type(1n+3) {
  display: none;
}

.top-nav-bar #localeContainer {
  display: none;
  float: right;
  margin: 5px 0 0 0;
}

.top-nav-bar #localeContainer select {
  font-size: .7em;
}

.top-nav-bar #localeContainer select#myCurrency {
  width: 5em;
}

.top-nav-bar #localeContainer select optgroup {
  font-style: normal;
}


.top-nav-bar #userAccountInfo {
  float: right;
  margin: 6px 10px 0 0;
}

.top-nav-bar #userAccountInfo a {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
}

.top-nav-bar #userAccountInfo span {
  margin: 0 10px;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
}

.top-nav-bar a:hover, #services a:hover {
  text-decoration: underline !important;
}

#masthead {
  height: 55px;
  width: 100%;
  background: #2B2B2B;
}

#masthead #logoBanner {
  float: left;
}

#masthead #logoBanner img {
  display: block;
  border: none;
  float: left;
  margin: 9px 0 0 10px;
  height: 40px;
}

#masthead #navBanner {
  float: right;
  margin: 5px 10px 0 0;
}

#masthead #services, #masthead #contact {
  display: block;
  text-align: right;
}

#masthead #contact {
  float: right;
  padding: 3px 0 0 10px;
  margin: 3px 0 0 0;
  color: #eeeeee;
  border-left: 1px solid #eaeaea;
}

#masthead #contact span:first-child {
  margin: 0 -6px 0 0;
  font-size: 20px;
  line-height: 12px;
  letter-spacing: 1.5px;
}

#masthead #contact span:nth-of-type(2n) {
  color: #eeeeee;
  font-size: 12px;
}

#masthead #services {
  float: right;
  margin: 13px 16px 0 0;
}

#masthead #services a {
  color: #eeeeee;
  font-size: 14px;
}

#masthead #services span {
  margin: 0 10px;
  color: #eeeeee;
  font-size: 14px;
}

#masthead #applicationMastheadTitle {
  display: none;
  float: left;
}

#masthead #commerceHelpContainer {
  display: none;
  float: right;
  margin: 5px 7px 0 10px;
}

#masthead #commerceHelpContainer img {
  border: none;
  margin: 0;
}

#masthead #applicationMastheadTitle h1 {
  color: #B5121B;
  float: left;
  font-size: 2em;
  font-weight: normal;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 0;
}

#main {
  margin-top: 30px;
}

#main figure {
  float: left;
  width: 50%;
}

#main img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

#details {
  float: left;
  width: 50%;
}

#details dl {
  padding-top: 35px;
}

#details dt {
  display: inline-block;
  margin-bottom: 20px;
  width: 35%;
  font-size: 20px;
  text-align: right;
}

#details dd {
  display: inline-block;
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 20px;
  width: 64%;
}

#approve {
  clear: left;
  float: left;
  width: 48%;
  text-align: center;
}

#decline {
  float: left;
  margin-left: 10px;
  padding-left: 110px;
  width: 48%;
}

#decline input[type="submit"] {
  margin-left: 30px;
}

#result {
  float: left;
  margin-top: 30px;
  width: 100%;
  font-size: 30px;
  text-align: center;
}

.well {
  margin-top: 40px;
}

input[type="text"] {
  padding: 6px 12px;
  width: 75%;
  height: 35px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.btn {
  margin-top: 10px;
}

#footer {
  clear: both;
  float: left;
  margin: 50px 0 0 0;
  width: 100%;
}

#footer-content {
  padding: 30px 20px 40px 60px;
  margin: 0 auto;
  font-size: 0;
  border: 1px solid #cfcac0;
  background: #f7f5f2;
  box-sizing: border-box;
}

#footer-content:after {
  display: block;
  clear: both;
  content: "";
}

#footer section {
  max-width: 970px;
  margin: 0 auto;
}

#footer-content div {
  display: inline-block;
  float: left;
  width: 20%;
  color: #eeeeee;
  font-size: 14px;
}

#footer-content div:nth-child(4n) h2, #footer-content div:nth-child(4n) ul {
  margin-left: 25px;
}

#footer-content h2 {
  color: #53514C;
  font-size: 15px;
  font-weight: bold;
}

#footer-content div ul {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
}

#footer-content div ul li {
  margin: 10px 0;
}

#footer-content div ul a {
  color: #53514c;
  font-size: 14px;
}

#footer-content div ul a:hover {
  text-decoration: underline !important;
}

#footer-content img {
  margin: 0;
  width: 40px;
  height: auto;
}

#footer-content div:last-child h2 {
  margin-bottom: 10px;
}

#footer-content div:last-child a {
  text-decoration: none;
}

#footer-content div:last-child a:nth-of-type(2n+1) img {
  margin: 0 10px 0 5px;
}

#footer-content div:last-child a:nth-of-type(1n+3) img {
  margin-top: 10px;
}

#footer #legal {
  clear: both;
  padding: 30px 0 30px 0;
  background: #424242;
  text-align: center;
}

#footer #legal p {
  color: #cccccc;
  font-size: 16px;
}

#footer #legal p a, #footer #legal p span {
  color: #cccccc;
  font-size: 12px;
}

#footer #legal p:nth-child(2) span {
  margin: 0 10px;
}

#footer #legal a:hover {
  text-decoration: underline !important;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media (max-width: 991px) {
  #footer-content {
    padding: 30px 25px 40px 110px;
  }

  #main figure {
    width: 45%;
  }

  #details {
    width: 55%;
  }

  #details dl {
    padding-top: 18px;
  }

  #details dt {
    margin-bottom: 12px;
    width: 35%;
    font-size: 17px;
  }

  #details dd {
    margin-bottom: 12px;
    padding-left: 20px;
    font-size: 17px;
    width: 63%;
  }

  #decline {
    padding-left: 45px;
  }
}

@media (max-width: 840px) {
  #footer-content {
    padding: 30px 10px 40px 20px;
  }
}

@media (max-width: 768px) {
  #footer section div:nth-of-type(5n) {
    display: none;
  }

  #footer section div {
    width: 25%;
  }

  #footer-content div:nth-child(4n) h2, #footer-content div:nth-child(4n) ul {
    margin-left: 0;
  }
}

@media (max-width: 745px) {
  #details dl {
    padding-top: 8px;
  }

  #details dt {
    margin-bottom: 10px;
    font-size: 15px;
  }

  #details dd {
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 15px;
  }
}

@media (max-width: 675px) {
  #decline {
    padding-left: 15px;
  }
}

@media (max-width: 640px) {
  #masthead #services {
    display: none;
  }

  .top-nav-links a:nth-of-type(1n+4), .top-nav-links span:nth-of-type(1n+3) {
    display: inline-block;
  }

  #masthead #contact {
    border: none;
  }

  #details dl {
    padding-top: 0;
  }

  #details dt {
    margin-bottom: 8px;
    width: 40%;
    font-size: 14px;
  }

  #details dd {
    margin-bottom: 8px;
    padding-left: 5px;
    font-size: 14px;
    width: 58%;
  }

  #decline label {
    font-size: 12px;
  }
}

@media (max-width: 525px) {
  #main {
    margin-top: 10px;
  }

  #main figure {
    width: 100%;
  }

  #main img {
    margin: 0 auto;
    width: 80%;
  }

  #details {
    width: 100%;
  }

  #details dl {
    padding-top: 10px;
  }

  #details dt {
    margin-bottom: 0;
    font-size: 15px;
  }

  #details dd {
    margin-bottom: 0;
    padding-left: 10px;
    font-size: 15px;
  }

  .well {
    margin-top: 0;
  }

  input[type="text"] {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .top-nav-bar {
    height: 23px;
  }

  .top-nav-links {
    margin: 0;
  }

  .top-nav-links a, .top-nav-links span {
    font-size: 9px;
  }

  .top-nav-links span {
    margin: 0 5px;
  }

  #masthead {
    height: 43px;
  }

  #masthead #logoBanner {
    margin-left: -5px;
  }

  #masthead #logoBanner img {
    margin: 7px 0 0 0;
    height: 30px;
  }

  #masthead #navBanner, #masthead #contact {
    margin: 0;
  }

  #masthead #contact span:first-child {
    font-size: 15px;
  }

  #masthead #contact span:nth-of-type(2n) {
    font-size: 11px;
  }

  #footer section div:nth-of-type(4n) {
    padding-left: 10px;
  }

  #footer-content {
    padding-top: 5px;
    padding-bottom: 10px;
  }

  #footer section {
    margin-left: 10px;
  }

  #footer #legal {
    padding: 15px 0;
  }

  #footer-content h2 {
    font-size: 11px;
  }

  #footer-content div ul a {
    font-size: 10px;
  }

  #footer-content div ul li {
    margin: 0 0;
  }

  #footer #legal p {
    font-size: 11px;
    margin: 0;
  }

  #footer #legal p a, #footer #legal p span {
    font-size: 8px;
  }
}