<div id="footer-content">
  <section>
    <div>
      <h2>Company Information</h2>
      <ul>
        <li>
          <a href="http://www.divalsafety.com/index.php/about-us" target="_blank">About Us</a>
        </li>
        <li>
          <a href="http://www.divalsafety.com/index.php/careers" target="_blank">Careers</a>
        </li>
        <li><a href="http://www.divalsafety.com" target="_blank">Corporate Site</a></li>
      </ul>
    </div>
    <div>
      <h2>Customer Support</h2>
      <ul>
        <li>
          <a href="http://www.divalsafety.com/index.php/contact-us-main" target="_blank">Contact Us</a>
        </li>
        <li>
          <a href="http://www.divalsafety.com/index.php/locations-footer" target="_blank">Find a Branch</a>
        </li>
        <li>
          <a href="http://www.divalsafety.com/images/footer/DiVal_Return_Policy.pdf" target="_blank">Return Policy</a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Online Resources</h2>
      <ul>
        <li>
          <a href="http://www.divalsafety.com/index.php" target="_blank">Catalogs</a>
        </li>
        <li>
          <a href="http://www.divalsafety.com/images/docs/DiVal_Credit_Application_11-22-13.pdf" target="_blank">Credit Application</a>
        </li>
        <li>
          <a href="http://www.divalsafety.com/index.php/safety-recalls" target="_blank">Product Recalls</a>
        </li>
      </ul>
    </div>
    <div>
      <h2>We Live Safety</h2>
      <ul>
        <li>
          <a href="http://www.divalsafety.com/index.php/events" target="_blank">Events</a>
        </li>
        <li>
          <a href="http://www.divalsafety.com/index.php/services" target="_blank">Services</a>
        </li>
        <li>
          <a href="http://www.divalsafety.com/index.php/training" target="_blank">Training</a>
        </li>
      </ul>
    </div>
    <div>
      <h2>We Love Safety</h2>
      <a href="https://www.facebook.com/DiValSafety" target="_blank">
        <%= image_tag "facebook.png", alt: "Facebook" %>
      </a>
      <a href="https://twitter.com/DiValSafety" target="_blank">
        <%= image_tag "twitter.png", alt: "Twitter" %>
      </a>
      <br/>
      <a href="https://www.linkedin.com/company/dival-safety" target="_blank">
        <%= image_tag "linkedin.png", alt: "LinkedIn", class: "top-10" %>
      </a>
      <a href="https://www.youtube.com/user/DiValSafety" target="_blank">
        <%= image_tag "youtube.png", alt: "YouTube" %>
      </a>
    </div>
  </section>
</div>
<div id="legal">
  <p>24/7 Customer Service <strong>1-800-343-1354</strong></p>
  <p>
    <a href="https://www.divalsafety.com/index.php?option=com_content&view=article&id=37&Itemid=152" target="_blank">Privacy Policy</a>
    <span>|</span>
    <a href="http://www.divalsafety.com/index.php?option=com_content&view=article&id=38&Itemid=153" target="_blank">Terms + Conditions</a>
  </p>
  <p>
    <span>
      &copy; 1977 - 2016, DiVal Safety Equipment, Inc. All Rights Reserved.
    </span>
  </p>
</div>