<div class="top-nav-bar">
  <div class="container">
    <div class="top-nav-links">
      <a href="http://www.divalsafety.com/index.php/locations-footer" target="_blank">Find a Branch</a>
      <span>|</span>
      <a href="http://www.divalsafety.com/index.php/contact-us-main" target="_blank">Help</a>
      <span>|</span>
      <a href="http://products.divalsafety.com/storefrontCommerce" target="_blank">Products</a>
      <span>|</span>
      <a href="http://www.divalsafety.com/index.php/events" target="_blank">Events</a>
      <span>|</span>
      <a href="http://www.divalsafety.com/index.php/services" target="_blank">Services</a>
      <span>|</span>
      <a href="http://www.divalsafety.com/index.php/training" target="_blank">Training</a>
    </div>
  </div>
</div>
<div id="masthead">
  <div class="container">
    <div id="logoBanner">
      <a href="http://www.divalsafety.com" target="_blank">
        <%= image_tag "logo.png", alt: 'DiVal Safety Logo' %>
      </a>
    </div>
    <div id="navBanner">
      <div id="contact">
        <span>1-800-343-1354</span>
        <br/>
        <span>24/7 Sales + Customer Service</span>
      </div>
      <div id="services">
        <a href="http://www.divalsafety.com/index.php/events" target="_blank">Events</a>
        <span>|</span>
        <a href="http://www.divalsafety.com/index.php/services" target="_blank">Services</a>
        <span>|</span>
        <a href="http://www.divalsafety.com/index.php/training" target="_blank">Training</a>
      </div>
    </div>
  </div>
</div>